/* Fuente*/
@font-face{
	font-family: "DancingScript";
	src: url('../fuentes/DancingScript-Regular.ttf');
}

/* Cuerpo */
body{
	font-size: 1.5em;
	margin-left: 20%;
	margin-right: 20%;
	box-sizing: border-box;
	background-color: #02010a;
	font-family: DancingScript;
}


	
/* Barra de navegacion */
nav{
	width: 40%;
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin-right: 2em;
}

nav a{
	width: 33.3%;
	box-sizing: border-box;
	font-size: 1em;
	font-weight: normal;
}

nav a:visited,nav a:link{
	color: white;
}

#Hiper-actual{
	text-decoration-line: none;
}
	
#menu a{
	width: 100%;
	text-align: center;
}


/* cabecera */
header{
	width:100%;
	font-size: 0.8em;
	color: white;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0 ;
	display: flex;
	justify-content:space-between;
	align-items:center;
}

header h1{
	width: 60%;
	margin-left: 1.5em;
	text-shadow: 2px 2px #02010a;
}

/* Contenedor principal */
#contenedor-body{
	width: 100%;
}

/* Imagen principal*/
#ImagenPrincipal{	
	width: 100%;
	background-color: #82c3a6;
	padding-top: 1em;
	padding-bottom: 1em;
}

#ImagenPrincipal figure{
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* Imagen secundaria */
#ImagenSecundaria{
	width: 100%;
	display: flex;
	justify-content:space-between;
	align-items:center;
	background-color: #d5c75f;
	border: 1px;
}

/* Imagen paisaje*/
#ImagenPaisaje{
	width: 50%;
}

#ImagenPaisaje img{
	transition: .4s all;/* tiempo para rotar*/
}

#ImagenPaisaje img:hover{
	transform: rotate(10deg);
}

/* Imagen retrato*/
#ImagenRetrato{
	width: 50%;
}

#ImagenRetrato img{
	width: 100%;
	transition: .4s all;/* tiempo para transladar*/
}

#ImagenRetrato img:hover{
	transform: translate(20px,-5px);
}


/* Para todas las imagenes*/
figure img{
	width: 100%;
	box-shadow: 2px 2px #02010a;
}

figcaption{
	text-align: center;
}


/* Footer*/
footer{
	width: 100%;
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
}

/* Contenedor Footer*/
#contenedor-Footer{
	width: 100%;
	padding-top: 15px;
	display: flex;
	flex-direction: row;
	font-size: 0.7em;
}

/* Columnas del footer */
.columna{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 4%;
	padding-right: 4%;
}

.columna h1{
	font-size: 1.3em;
}

/* Logos de las redes */
.redes{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	margin-bottom: 1em;
}

.redes label{
	width: 90%;
	font-size: 15px;
	text-align: left;
}

.redes img{
	width: 2em;
	height: 30px;
	margin-right: 1em;
	border-radius: 25px;
}

p{
	text-align: justify;
}


/* Media queris */

/* Destopk */
@media (min-width: 900px) {
	#contenedor-body{
		max-width: 900px;
	}
}

/* Celular */
@media (max-width: 900px) {

	
	/* cabecera */
	header{
		display: flex;
		flex-direction: column;

	}
	
	header h1{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		text-align: center;
	}
	/* Menu */
	#menu{
		width: 70%;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#menu a{
		width: 100%;
		text-align: center;
	}

	/* conenedor principal */
	#contenedor-body{
		width: 100%;
	}

	/* Imagenes */
		
	#ImagenSecundaria{
		width: 100%;
		flex-wrap: wrap;
	}

	#ImagenPaisaje{
		width: 100%;
	}	
	#ImagenRetrato{
		width: 100%;
	}
	
	/* Footer */
	#contenedor-Footer{
		flex-wrap: wrap;
	}

	.columna{
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
	}

}
	
